    .task_item {
        display: flex;
        gap: 15px;
        padding: 0.5rem;
        border-radius: 3px;
        background-color: #b8d8dd;
        border: 1px solid #b8d8dd;
        transition: all 0.3s ease;

        &:hover {
            border: 1px solid #6a8fc6;
            cursor: pointer;
        }
    }

    .task_item .span {
        font-size: 1rem;
    }