---
import SingleTask from "./SingleTask.astro";
import Button from "../Button.astro";

const data = {
	to_do: {
		title: "To Do",
		tasks: [
			{ id: 1, name: "Task 1" },
			{ id: 2, name: "Task 2" },
		],
	},
	ongoing: {
		title: "Ongoing",
		tasks: [{ id: 4, name: "Task 4" }],
	},
	completed: {
		title: "Completed",
		tasks: [{ id: 3, name: "Task 3" }],
	},
};
---

<div class="tasks-container">
	{
		Object.keys(data).map((key) => (
			<section class="task-list">
				<h2>
					<span class="title">{data[key].title}</span>
					<span class="count">({data[key].tasks.length})</span>
				</h2>
				<ul class="task-items">
					{
						data[key].tasks && data[key].tasks.map((task) => (
							<SingleTask {...task} />
						))
					}
				</ul>
				<div class="add-task">
					<Button>Add Task</Button>
				</div>
			</section>
		))
	}
</div>

<style>
	.tasks-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		padding: 1rem;
		border-radius: 5px;

		.task-list {
			width: 100%;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			gap: 20px;
			border-radius: 5px;
			background-color: #fff;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

			h2 {
				font-size: 1.2rem;
				font-weight: 500;
				color: #333;
				display: flex;
				justify-content: space-between;
			}

			.task-items {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			.add-task {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-top: 1rem;
			}
		}
	}
</style>
