.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columnas para los días de la semana */
  gap: 10px;
  margin-top: 20px;
  position: relative;
}

.day {
  min-height: 150px;  /* Altura mínima de cada celda */
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  position: relative; /* Para que el número del día se posicione relativo a esta celda */
}

.dayNumber {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 14px;
}

/* Contenedor de la cuadrícula semanal */
.calendarGridWeek {
  display: grid;
  grid-template-columns: repeat(7, 1fr);  /* 7 columnas, una para cada día de la semana */
  gap: 10px;  /* Espacio entre los días */
  text-align: center;
  height: 0vh;  /* Hace que el contenedor ocupe la altura completa de la ventana */
}

/* Cabecera de los días de la semana */
.calendarDayHeader {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px 0;
  border: 1px solid #ccc;
  height: 50px;  /* Fija la altura de las cabeceras */
  text-align: center;
}

.dayWeek{
  height: 70vh;  /* Cada celda ocupará un 20% de la altura de la ventana */
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  position: relative;
}
