---
import Layout from "@layouts/Layout.astro"
import Calendar from "@components/Calendar.astro"
---

<Layout title="Students App">
	<h1>Welcome to Students App</h1>
	<Calendar client:load />
</Layout>
