---
import Layout from "../layouts/Layout.astro"
import Tasks from "../components/react/Tasks/Tasks.jsx"
---

<Layout title="Students App">
	<h1>Welcome to Students App</h1>
	<Tasks client:only="react"/>
</Layout>