---
import Layout from "../layouts/Layout.astro";
import RegisterForm from "../components/RegisterForm.astro";
---

<Layout title="Students App">
	<h1>Welcome to Students App</h1>
	<RegisterForm />
</Layout>