---
import Layout from "@layouts/Layout.astro";
import Tasks from "@components/react/Tasks/Tasks";
import Calendar from "@components/react/Calendar/Calendar";
import Button from "@components/Button.astro";

import { APP_DATA } from "@utils/constants";
import { getCurrentUser } from "@lib/supabase";

const { error } = await getCurrentUser();

// If there is an error, it means the user is not logged in
if (error) {
    return Astro.redirect("/denied")
}
---

<Layout title={APP_DATA.name}>
    <div class="btn-container">
        <Button link="/subjects" name="Go to my Notes" type="primary" />
    </div>
    <Tasks client:load />
    <Calendar client:load />
</Layout>

<style>
    .btn-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
        margin-top: 1rem;
    }
</style>