---
interface Props {
    name: string;
    link: string;
    type: "primary" | "secondary";
}

const { name, link, type } = Astro.props;
---

<a href={link} class={`btn ${type}`}>
    {name}
</a>

<style>
    .btn {
        align-items: center;
        border-radius: 50px;
        border: 1px solid transparent;
        padding: 5px 10px;
        display: inline-flex;
        justify-content: center;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25rem;
        min-height: 38px;
    }

    .btn.primary {
        background-color: #ff69b4;
        color: #fff;
    }

    .btn.primary:hover {
        background-color: #dd1a82;
    }

    .btn.secondary {
        border: 1px solid #ff69b4;
        background-color: transparent;
        color: #ff69b4;
    }

    .btn.secondary:hover {
        background-color: #ff69b40f;
    }
</style>
