---
interface Props{
    title: string;
    description: string;
    img: string;
    reverse?: boolean;
}

const { title, description, img, reverse } = Astro.props
---

<div class={`example ${reverse ? 'reverse' : ''}`}>
    <div class="description">
        <h1>{title}</h1>
        <p>{description}</p>
    </div>
    <div class="imgBox">
        <img src={img} class="imgEx">
    </div>
</div>	

<style>
    .imgBox{
        border-radius: 20px;
        background: linear-gradient(270deg, #ff00ff, #ff69b4, #ff1493, #ff00ff);
        padding: 1em;     
        align-items: left;   
    }

    .imgEx{
        max-width: 45rem;
        height: auto;
    }

    .example{
        display: flex; 
        justify-content: space-between;
        gap: 2rem;
        padding-top: 2rem;
        margin-top: 10rem;

        &.reverse{
            flex-direction: row-reverse;
        }
    }

    .description{
        padding-top: 4em;
        align-items: top;
    }
    
    h1{
        font-size: 3em
    }

    p{
        font-size: 1.6em;
    }

    @media (max-width: 1024px) {

        .imgBox{
            align-items: center;   
        }

        .imgEx{
            max-width: 100%;
            height: auto;
        }

        .example{
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;
            margin-top: 2rem;
            &.reverse{
                flex-direction: column;
            }
        }

        .description{
            text-align: center;
        }
    }
</style>