---
import Button from "@components/Button.astro";

import { APP_DATA } from "@utils/constants";
import Github from "./icons/Github.astro";

const year = new Date().getFullYear();
---

<footer>
    <div class="left">
        <span>&copy; {year} {APP_DATA.author}</span>
        <span>Bringing <em>{APP_DATA.name}</em> to life</span>
    </div>
    <div class="right">
        <Button link={APP_DATA.repository} type="squared">
            <Github />
        </Button>
    </div>
</footer>

<style>
    footer {
        margin-top: var(--footer-height);
        height: var(--footer-height);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        background-color: #111;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 300;
    }

    .left, .right {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    em {
        font-style: normal;
        color: var(--accent-color);
        font-weight: 600;
    }
</style>
