---
import AppleLogo from "./icons/Apple.astro"
import GoogleLogo from "./icons/Google.astro"
import GitHubLogo from "./icons/Github.astro"
---

<form action="/api/register" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Register</button>
    <div class="social-buttons">
        <button type="button" class="google-button">
            <GoogleLogo />
        </button>
        <button type="button" class="apple-button">
            <AppleLogo />
        </button>
        <button type="button" class="github-button">
            <GitHubLogo />
        </button>
    </div>
</form>

<style>
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
    }

    button {
        width: 100%;
        padding: 0.75rem;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
    }

    button:hover {
        background-color: #0056b3;
    }

    .social-buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
    }

    .google-button, .apple-button, .github-button {
        width: 75px;
        height: 75px;
        background-color: #f0f0f0; /* Blanco roto */
        color: white;
        padding: 0.75rem;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
    }

    .google-button:hover {
        background-color: #e0e0e0;
    }

    .apple-button:hover {
        background-color: #e0e0e0;
    }

    .github-button:hover {
        background-color: #e0e0e0;
    }
</style>
