---
import AppleLogo from "./icons/Apple.astro"
import GoogleLogo from "./icons/Google.astro"
import GitHubLogo from "./icons/Github.astro"
---

<form action="/api/register" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" class="register-button">Register</button>
    <div class="social-buttons">
        <button type="button" class="social-button google-button">
            <GoogleLogo />
        </button>
        <button type="button" class="social-button apple-button">
            <AppleLogo />
        </button>
        <button type="button" class="social-button github-button">
            <GitHubLogo />
        </button>
    </div>
</form>

<style>
    form {
        width: 500px;
        max-width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border: 1px solid #333;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: #333;
    }

    input {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        font-size: 1rem;
    }

    .register-button {
        width: 100%;
        padding: 0.75rem;
        border: none;
        border-radius: 8px;
        background: linear-gradient(270deg, #ff00ff, #ff69b4, #ff1493, #ff00ff);
        background-size: 400% 400%;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            animation: pinkGradient 3s ease infinite;
        }
    }

    @keyframes pinkGradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .register-button:hover {
        background-color: #e64a19;
    }

    .social-buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .social-button {
        width: 75px;
        height: 75px;
        background-color: #f8f8f8;
        color: white;
        padding: 0.75rem;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        transition: background-color 0.3s ease;
    }

    .social-button:hover {
        background-color: #d8d8d8;
    }
</style>
