---
interface Props {
	text?: string
	scale?: string
}

import { APP_DATA } from "@utils/constants"
const { text, scale } = Astro.props
---

<div
	class="rythmo"
	style={{ fontSize: scale }}
>
	<span>{text}</span>
	<span class="rythmo__text">{APP_DATA.name}</span>
</div>

<style>
	@keyframes pinkGradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	.rythmo {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 1rem;
		flex-wrap: wrap;
		font-size: 4rem;
		font-weight: 900;
		color: var(--rythmo-color);
	}

	.rythmo__text {
		background: linear-gradient(270deg, #ff00ff, #ff69b4, #ff1493, #ff00ff);
		background-size: 400% 400%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: pinkGradient 5s ease infinite;
	}
</style>
