---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body>
        <Navbar />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    :root {
        /* Colors */
        --bg-color: #f9f9f9;
        --border-color: #eee;
        --text-color: #333;
        --accent-color: #e50a77;
        --accent-color-hover: #ff69b4;
        --accent-color-light: #ff69b40f;
        --bg-overlay-color: #eee;
        --bg-navbar-color: #f9f9f9;
        --rythmo-color: #000000;
        --subject-color: #fff;
        --h-color: #333;
        --p-color: #666;
        --card-color: #fff;
        --social-button-color: #e1e1e1;
        --calendar-hover-event: #ecf6f7;
        --notes-container-color: #fff;

        /* Sizes */
        --navbar-height: 60px;
        --footer-height: 150px;
    }

    html.dark {
        /* Colors Dark Mode*/
        --bg-color: #1c1d21;
        --border-color: #303237;
        --text-color: #e3e3e3;
        --accent-color: #e50a77;
        --accent-color-hover: #ff69b4;
        --accent-color-light: #ff69b40f;
        --bg-overlay-color: #232323;
        --bg-navbar-color: #1c1d21;
        --rythmo-color: #fff;
        --subject-color: #191919;
        --subject-modal-color: #19191995;
        --h-color: #fff;
        --p-color: #ccc;
        --card-color: #27292e;
        --social-button-color: #373636;
        --calendar-hover-event: #2e3434;
        --notes-container-color: #191919;
    }

    .dark .nav-links a {
        color: #161616;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        line-height: 1.6;

        letter-spacing: 1px;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: #333 #121212;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color);
        color: var(--text-color);
        font-size: 100%;
        font-family: "Poppins", sans-serif;
        background-image: var(--bg-image), linear-gradient(var(--bg-overlay-color), var(--bg-overlay-color));
        background-repeat: repeat;
    }

    main {
        width: 100%;
        max-width: 1300px;
        min-height: 100vh;
        padding: 8px;
        padding-top: calc(var(--navbar-height) + 20px);
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        justify-content: center;
        align-items: center;
    }

    img {
        max-width: 100%;
    }

    li {
        list-style: none;
    }

    a {
        color: #333;
        text-decoration: none;
    }

    p {
        font-weight: 400;
    }

    form {
        width: 450px;
        max-width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 12px;
        background-color: var(--card-color);
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: var(--p-color);
    }
    
    select {
        background-color: var(--input-color);
        color: var(--p-color);
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        font-size: 1rem;
    }

    option {
        background-color: var(--input-color);
        color: var(--p-color);
    }

    input {
        background-color: var(--input-color);
        color: var(--p-color);
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        font-size: 1rem;
    }

    hr{
        border: 0;
        height: 1px;
        background: #eee;
        margin-bottom: 1rem;
    }

    svg {
        path {
        stroke: var(--text-color);
        }
    }
</style>
