---
import GoogleLogo from "@components/icons/Google.astro";
import FormGroup from "@components/forms/FormGroup.astro";
import RelatedLink from "@components/forms/RelatedLink.astro";
import Button from "@components/Button.astro";
---
<div class="form-container">
    <form>
        <FormGroup
            label="Email"
            type="email"
            id="email"
            placeholder="Type your email"
        />
        <FormGroup
            label="Password"
            type="password"
            id="password"
            placeholder="Type your password"
        />
        <Button type="special" name="Log in" buttonType="submit" />
        <RelatedLink
            text1="Don't have an account?"
            link="/register"
            text2="Register"
        />
        <hr />
        <div class="social-buttons">
            <button id="google" class="social-login-button">
                <GoogleLogo/>
            </button>
        </div>
    </form>
</div>

<script>
    const $googleButton = document.getElementById("google");

    $googleButton.addEventListener("click", async (e) => {
        e.preventDefault();
        const baseUri = window.location.origin
        const response = await fetch(`${baseUri}/api/login?provider=google`)
        const data = await response.json()

        if (response.ok) window.location.replace(data.url)
    })
</script>

<style>

    .form-container {
        width: 100%;
        max-width: 490px;
        margin: 0 auto;
        padding: 1rem;
    }

    .social-buttons {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .social-login-button {
        min-width: 50px;
        min-height: 50px;
        background-color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        transition: all 0.3s;

        &:hover {
            filter: contrast(0.8);
        }
    }

    @keyframes pinkGradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .login-button:hover {
        background-color: #e64a19;
    }
</style>

<script>
    const $form = document.querySelector("form");

    $form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // Retrieve form data
        const formData = new FormData($form);
        const values = Object.fromEntries(formData);

        // Send data to the server
        const response = await fetch("/api/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(values),
        });

        if (response.ok) {
            window.location.href = "/main";
        } else {
            console.error("Failed to login");
        }
    });
</script>
