---
import AppleLogo from "@components/icons/Apple.astro";
import GoogleLogo from "@components/icons/Google.astro";
import GitHubLogo from "@components/icons/Github.astro";
import FormGroup from "@components/forms/FormGroup.astro";
import SocialButton from "@components/forms/SocialButton.astro";
import Button from "@components/Button.astro";
import RelatedLink from "@components/forms/RelatedLink.astro";
---

<form>
    <FormGroup
        label="Email"
        type="email"
        id="email"
        placeholder="Type your mail"
    />
    <FormGroup
        label="Username"
        type="text"
        id="username"
        placeholder="Type your username"
    />
    <FormGroup
        label="Password"
        type="password"
        id="password"
        placeholder="Type your password"
    />
    <Button type="special" name="Register" buttonType="submit" />
    <RelatedLink
        text1="Already have an account?"
        link="/login"
        text2="Log in"
    />
    <hr />
    <div class="social-buttons">
        <SocialButton>
            <GoogleLogo />
        </SocialButton>
        <SocialButton>
            <AppleLogo />
        </SocialButton>
        <SocialButton>
            <GitHubLogo />
        </SocialButton>
    </div>
</form>

<style>
    .social-buttons {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .register-button {
        &:hover {
            animation: pinkGradient 3s ease infinite;
        }
    }

    .register-button:hover {
        background-color: #e64a19;
    }
</style>

<script>
    const $form = document.querySelector("form")

    $form.addEventListener("submit", async (e) => {
        e.preventDefault()

        // Retrieve form data
        const formData = new FormData($form)
        const values = Object.fromEntries(formData)

        // Send data to the server
        const response = await fetch("/api/register", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(values),
        })

        if (response.ok) {
            window.location.href = "/login"
        } else {
            console.error("Failed to register")
        }
    })
</script>