---
const { text1 , link , text2 } = Astro.props
---


<p class="register-link">
    <span>{text1}</span>
    <a href={link}>{text2}</a>
</p>


<style>
.register-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    font-size: 1em;
    margin: 1rem 0;
}

.register-link a {
    color: var(--accent-color);
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
</style>